.phone-book-box {
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 16px;
  }
  
  .contacts-list {
    margin-top: 16px;
  }
  
  .contact {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    margin-bottom: 8px;
  }
  